@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

@import "tailwindcss";
@tailwind utilities;


.inter {
  font-family: "Inter", sans-serif;
  
}
.lato {
  font-family: "Lato", sans-serif;
 
}
.lexend {
  font-family: 'Lexend', sans-serif;
}

@layer utilities {
  .shadow-custom-light {
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }

  .boxShadow {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  }
  .bg-gradient-custom {
    background: linear-gradient(to bottom, #2BB2FE, #22CAAD);
  }
}



/* Custom scrollbar for WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  height: 4px; /* Horizontal scrollbar thickness */
}

::-webkit-scrollbar-thumb {
  background-color: #3651BF; /* Your custom color */
  border-radius: 8px;

}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}








/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
